h1 {
    color: green;
    font-style: italic;
}

ul {
    margin: 0;
    padding: 50px 0px;
}

li {
    color: grey;
    padding: 5px 10px; 
    font-size: 15px;
    list-style: none;
}

.note{
    color: black;
    padding-top: 5px;
    font-size: 15px;
}

.error {
    color: white;
    background: hsl(0, 69%, 59%);
    font-size: 35px;
    border: 5px solid hsl(0, 60%, 35%);
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    width: 25%;
}

.success {
    color: white;
    background: hsl(113, 69%, 59%);
    font-size: 35px;
    border: 5px solid hsl(113, 60%, 35%);
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    width: 25%;
}
